################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tutorials/v15/.suo
/.vs/slnx.sqlite
